* {
    margin: 0;
    padding: 0;
}
:root {
    --white-color: #ffffff;
    --red-color: #FF0000;
    --black-color: #070211;
    --semi-white: rgba(255, 255, 255, 0.80);
    --semi-black: rgba(7, 2, 17, 0.60);
    --header-font: 'Merriweather', serif;
    --body-font: 'Inter', sans-serif;
}

body {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 20px;
    color: var(--white-color);
}
h1, h2 {
    font-family: var(--header-font);
    font-weight: 900;
    
}
h1 {
    font-size: 72px;
    line-height: 1.33;
}
h2 {
    font-size: 64px;
    line-height: 1.37;
}
h3 {
    color: var(--black-color);
    font-size: 48px;
    font-weight: 700;
}
h4 {
    font-family: var(--header-font);
    font-size: 32px;
}
h5 {
    font-size: 24px;
    font-weight: 500;
    color: var(--red-color);
}
p {
    font-size: 18px;
    color: var(--semi-black);
}
a {
    display: block;
    text-decoration: none;
    color: var(--white-color);
}
img {
    width: 100%;
    height: auto;
}
.container {
    max-width: 1320px;
    padding: 0 12px;
    margin: 0 auto;
}

/* default style */
.bg-img {
    background-repeat: no-repeat;
    background-size: auto;
    height: 600px;
}
.red-btn {
    font-size: 20px;
    font-weight: 700;
    padding: 14px 39px;
    background-color: var(--red-color);
    color: var(--white-color);
    border: 1px solid red;
    border-radius: 8px;
    transition: 0.3s;
}
.red-btn:hover {
    border: 1px solid red;
    background-color: var(--white-color);
    color: var(--red-color);
}
/* main hero section style */
.header-area, .offer-price-section, .midnight-party-section, .schedule-section, .coming-soon-section, .holidays-section, .portflio-section {
    margin: 60px  0 120px;
}
.hero-bg-img {
    background-image: url('../resources/Banner\ Image.png');
}
.main-hero-section {
    max-width: 650px;
    text-align: center;
    margin: auto;
    padding-top: 190px;
}

/* offer price section style */
.offer-price-section {
    text-align: center;
}
.offer-price-section h1 {
    font-size: 88px;
    color: var(--red-color);
    margin-bottom: 48px;
}
.offer-price-section h5 {
    margin-bottom: 16px;
}
.offer-price-section h3 {
    color: var(--black-color);
    margin-bottom: 48px;
}

/* midnight section style */
.midnight-bg-img {
    background-image: url('../resources/Vectorry.png');
}
.midnight-party-section .inner-content {
    max-width: 700px;
    padding: 126px 0 0 126px;
}
.midnight-party-section .inner-content h2 {
    margin-bottom: 24px;
}
.midnight-party-section .inner-content P {
    margin-bottom: 40px;
}

/* schedule section style */
.shedule-content {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 90px 0 126px;
}
.shedule-content > p {
    font-size: 32px;
    font-weight: 700;
    color: var(--black-color);
    margin-bottom:20px;
}
.shedule-content > p > span {
    color: var(--red-color);
}
.shedule-content button {
    margin-top: 40px;
}

/* footer area */
.footer-area {
    background-color: var(--black-color);
    padding: 120px 0;
}
.footer-area p, a {
    font-weight: 500;
    font-size: 24px;
}
.footer-top-content {
    margin-bottom: 30px;
}
.footer-top-content, .footer-button-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-right img {
    max-width: 24px;
}
.footer-right a {
    position: relative;
    margin-bottom: 6px;
}
.footer-right a img {
    position: absolute;
    left: -32px;top: 2px;
}
span.custom-hr-rule {
    display: inline-block;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-middle-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 32px;
    gap: 24px;
}
.footer-middle-content img {
    max-width: 50px;
}
.footer-button-content {
    margin-top: 50px;
}
.footer-button-content button {
    font-size: 24px;
    background-color: transparent;
    color: var(--white-color);
    border: none;
    cursor: pointer;
}

/* coming soon section */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-left {
    max-width: 400px;
    margin-right: 70px;
} 
.flex-left h5 {
    margin-bottom: 16px;
}
.flex-left h3 {
    color: var(--black-color);
    margin-bottom: 22px;
}
.flex-left p, .flex-right p, .holidays-section p {
    color: var(--semi-black);
    line-height: 1.9;
}

.flex-center {
    margin-right: 120px;
}
.flex-center img {
    width: 350px;
}
.custom-border {
    border: 15px solid var(--red-color);
    padding: 50px;
    border-radius: 50%;
}
.flex-right img {
    max-width: 140px;
}
.flex-right h3 {
    color: var(--red-color);
    margin-bottom: 16px;
}
.flex-right p {
    margin-bottom: 42px;
}

/* holidays-section */
.holidays-section {
    text-align: center;
}
.holidays-section h5 {
    margin-bottom: 16px;
}
.holidays-section h1 {
    color: var(--black-color);
    margin-bottom: 28px;
}
.holidays-section h1 span {
    color: var(--red-color);
}
.holidays-section p {
    max-width: 760px;
    margin: 0 auto;
}
.img-collection {
    display: flex;
    position: relative;
    background-image: url(/resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-top: 60px;
}
.img-collection .img-3 {
    height: 430px;
}
.img-collection .img-2 {
    height: 284px;
    position: relative;
    top: 89px;
    left: -50px;
}
.img-collection .img-3 {
    height: 430px;
    position: relative;
    z-index: -1;
    right: 187px;
}

/* portfolio section */
.portflio-section h5 {
    margin-bottom: 16px;
}
.portflio-section h3 {
    margin-bottom: 22px;
}
.portflio-section p {
    max-width: 930px;
}
.all-products {
    margin-top: 48px;
}
.all-products img {
    max-width: 424px;
    height: auto;
    border-radius: 16px;
}
.all-products {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.single-product {
    border-radius: 16px;
    transition: 0.3s;
    cursor: pointer;
}
.single-product:hover {
     box-shadow: 8px 13px 395px -67px rgba(96,176,54,0.75);

}